@charset "UTF-8";
/*ESTILOS RESET CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
  font-family: "Indie Flower", cursive;
  background-color: #fbb857;
}

/*ESTILOS NAVBAR BTS*/
#Body .custom-navbar {
  height: 100px;
}
#Body .custom-navbar .navbar-brand {
  font-weight: bold;
  margin-left: 600px;
  font-size: 25px;
}
#Body .custom-navbar #navbarNav .navbar-nav .nav-item .nav-link {
  color: black;
  font: 15px;
}
#Body .custom-navbar #navbarNav .navbar-nav .nav-item .nav-link:hover {
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  #Body .custom-navbar .navbar-brand {
    font-weight: bold;
    margin-left: 200px;
    font-size: 20px;
  }
}
/*ESTILO FOOTER*/
#footer {
  color: black;
  left: 1;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding: 10px 0;
  font-size: 30px;
}
#footer .footer__seguinos {
  text-align: right;
}

@media screen and (max-width: 576px) {
  #footer {
    color: black;
    left: 1;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding: 10px 0;
    font-size: 18px;
  }
  #footer .footer__seguinos {
    text-align: right;
  }
}
/*ESTILO MAIN INDEX*/
#main {
  min-height: 100vh;
}
#main h1 {
  margin-left: 20px;
}
#main section .parrafo-index {
  float: left;
  width: 40%;
  font-size: 25px;
  margin-left: 20px;
}
#main section .video-index {
  float: center;
  height: auto;
  width: 30%;
  margin-left: 40px;
}

@media screen and (max-width: 576px) {
  #main section .parrafo-index {
    float: none;
    width: 100%;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  #main section .video-index {
    display: block;
    width: 100%;
    margin-left: 10px;
    margin-top: 20px;
  }
}
/*ESTILO MAIN PÁGINA CONOCENOS*/
#mainConocenos h2 {
  margin-left: 20px;
}
#mainConocenos section .parrafo-conocenos {
  font-size: 20px;
  margin-left: 20px;
}
#mainConocenos section h3 {
  margin-left: 20px;
  margin-top: 50px;
}
#mainConocenos section h3:hover {
  font-size: 40px;
}
#mainConocenos section .textpym {
  float: left;
  width: 40%;
  font-size: 18px;
  align-items: center;
  margin-left: 20px;
  margin-top: 60px;
}
#mainConocenos section picture .imgPeter {
  float: center;
  height: 400px;
  width: 30%;
  margin-left: 40px;
}
#mainConocenos section picture .imgMari {
  float: center;
  height: auto;
  width: 30%;
  margin-left: 40px;
}

@media screen and (max-width: 576px) {
  #mainConocenos section .textpym {
    float: none;
    width: 100%;
    margin-left: 20px;
    margin-top: 20px;
  }
  #mainConocenos section picture .imgPeter, #mainConocenos section picture .imgMari {
    display: block;
    height: auto;
    width: 80%;
    margin: 20px auto;
  }
}
/*ESTILO MAIN PÁGINA EPISODIOS*/
#mainEpisodios section h2 {
  margin-left: 20px;
}
#mainEpisodios section p {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
}
#mainEpisodios section article a {
  color: black;
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 70px;
  font-weight: bold;
}
#mainEpisodios section article a:hover {
  font-size: 25px;
}
#mainEpisodios section div img {
  margin-top: 30px;
  margin-left: 20px;
  gap: 10px;
  height: 250px;
  width: 250px;
}
#mainEpisodios section div img:hover {
  height: 400px;
  width: 400px;
}

#mainEscribinos p {
  font-size: 20px;
}
#mainEscribinos #formEscribinos .btn {
  margin-top: 20px;
}

/*ESTILO MAIN PÁGINA EXPLORA*/
#mainExplora {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#mainExplora section h2 {
  margin-left: 20px;
}
#mainExplora section .parrafo-explora {
  font-size: 20px;
  margin-left: 20px;
}
#mainExplora article h4 {
  font-size: 23px;
  margin-left: 20px;
}
#mainExplora article h4:hover {
  font-size: 30px;
}
#mainExplora article .top10 {
  display: flex;
  flex-direction: column;
}
#mainExplora section h3 {
  margin-left: 20px;
}
#mainExplora section h3:hover {
  font-size: 40px;
}
#mainExplora section .parrafo-provincia {
  float: left;
  width: 40%;
  font-size: 18px;
  justify-content: space-around;
  align-items: center;
  margin-left: 20px;
}
#mainExplora section picture .imgExplMapa {
  display: flex;
  height: 400px;
  width: 400px;
  margin-left: 800px;
}
#mainExplora section a {
  display: flex;
  color: black;
  margin-left: 950px;
  margin-top: 20px;
}

@media screen and (max-width: 576px) {
  #mainExplora section picture .imgExplMapa {
    display: block;
    margin-left: 0;
    margin-top: 20px;
  }
  .top10 {
    margin-bottom: 20px;
  }
  #mainExplora section a {
    display: block;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
