/*ESTILO FOOTER*/

#footer{
    color:black;
    left: 1;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding: 10px 0;
    font-size: 30px;
    .footer__seguinos{
        text-align: right;
    }
}
