/*ESTILOS NAVBAR BTS*/
#Body{
    .custom-navbar{
        height: 100px;
        .navbar-brand{
            font-weight: bold;
            margin-left: 600px;
            font-size: 25px;
        }
        #navbarNav{
            .navbar-nav{
                .nav-item{
                    .nav-link{
                        color:black;
                        font: 15px;
                    }
                    .nav-link:hover{
                        font-weight: bold;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 576px) {
    #Body{
        .custom-navbar{
            .navbar-brand{
                font-weight: bold;
                margin-left: 200px;
                font-size: 20px;
            }
        }
    }
}