/*ESTILO MAIN INDEX*/

#main{
    min-height: 100vh;
    h1{
        margin-left: 20px;
    }
    section{
        .titulo-index{
            
        }
        .parrafo-index{
            float: left;
            width: 40%;
            font-size: 25px;
            margin-left: 20px;
        }
        .video-index{
            float:center;
            height: auto;
            width: 30%;
            margin-left: 40px;}
    }
}

