/*ESTILO MAIN INDEX*/

#main{
    min-height: 100vh;
    h1{
        margin-left: 20px;
    }
    section{
        .parrafo-index{
            float: left;
            width: 40%;
            font-size: 25px;
            margin-left: 20px;
        }
        .video-index{
            float:center;
            height: auto;
            width: 30%;
            margin-left: 40px;}
    }
}

@media screen and (max-width: 576px) {
    #main section {
        .parrafo-index {
            float: none;
            width: 100%;
            margin-left: 10px;
            margin-bottom: 20px;
        }

        .video-index {
            display: block; 
            width: 100%; 
            margin-left: 10px; 
            margin-top: 20px; 
        }
    }
}
