/*ESTILO MAIN PÁGINA EPISODIOS*/
#mainEpisodios{
    section{
        article{
            a{
                color: white;
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
    }
    section{
        div{
            img{
                margin-top: 30px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 10px; 
                height: 30px;
                width: 30px;
            }
        }
    }