/*ESTILO MAIN PÁGINA CONOCENOS*/
#mainConocenos{
    section{
        .parrafo-conocenos{
            font-size: 20px;
        }
    }
    section{
        .textpym{
            float: left;
            width: 40%;
            font-size: 18px;
            justify-content: space-around;
            align-items: center;
        }
        picture{
            .imgPeter{
                float:center;
                height: 400px;
                width: 30%;
                margin-left: 40px;
            }
        }
    }
    section{
        picture{
            .imgMari{
                float:center;
                height: auto;
                width: 30%;
                margin-left: 40px;
            }
        }
    }
}


